body {
    /*background-image: url("http://cdn1.wallpapersok.com/uploads/picture/776/208/208776/picture-208776.jpg?width=412&height=732&crop=true");*/
    /*background-repeat: no-repeat;*/
    /*background-attachment: fixed;*/
    /*background-position: center;*/

    /*background-color: rgba(76, 175, 80, 0.3);*/
    margin: 0;
    overflow: hidden;
    position: fixed;
    width: 100%;
    height: 100vh;
    -webkit-user-select: none;
    user-select: none;
}


* {
    font-family: 'Work Sans', sans-serif;
    color: white;
}


h3 {
    font-size: 25px;
    line-height: 30px;
}


/** controls - bottom **/
.controls {
    position: absolute;
    left: 50%;
    bottom: 10px;
    /*transform: translate(-50%, 0);*/
    margin: 10px auto;
    z-index: 10;
    display: block;
    line-height: 2em;
    text-align: center;
}

/*.controls #btn-analyze {*/
    /*position: relative;*/
    /*left: -50%;*/
    /*!*left: 25%;*!*/
    /*!*bottom: 80%;*!*/
    /*!*width: 100px;*!*/
    /*!*height: 30px;*!*/

    /*color: white;*/
    /*padding: 10px;*/
    /*font-size: 20px;*/
    /*font-weight: bold;*/
    /*!*height: 20px;*!*/
    /*width: 200px;*/
    /*text-align: center;*/
    /*margin: 10px auto;*/
    /*background-color: transparent;*/
    /*border: 2px solid white;*/
/*}*/


.container {
    /*background-color: rgba(48,48,48, 0.3);*/
    position: absolute;
    /*z-index: 21;*/
    top: 0;
    left:0;
    width: 100%;
    height: 100vh;
}

#capture-border {
    z-index: 10;
    /*z-index: 20;*/
    position: absolute;
    background-color: transparent;
    /*border: 1px solid red;*/
    top: 10%;
    left: 10%;
    width: 80%;
    height: 70%;
    /*margin: 0 auto;*/
    /*margin-top: 10%;*/
}


#background-top {
    z-index: 10;
    position: absolute;
    top: 0;
    height: 10%;
    width: 100%;
    background-color: rgba(48,48,48, 0.7);
}

#background-right {
    z-index: 10;
    position: absolute;
    top: 10%;
    right: 0;
    height: 70%;            /* 100 - 10(top) - 20 (bottom) */
    width: 10%;
    background-color: rgba(48,48,48, 0.7);
}

#background-bottom {
    z-index: 10;
    position: absolute;
    bottom: 0;
    right: 0;
    height: 20%;
    width: 100%;
    background-color: rgba(48,48,48, 0.7);
}

#background-left{
    z-index: 10;
    position: absolute;
    top: 10%;
    left: 0;
    height: 70%;        /* 100 - 10(top) - 20 (bottom) */
    width: 10%;
    background-color: rgba(48,48,48, 0.7);
}

.controls .button-container {
    z-index: 10;
    position: relative;
    left: -50%;
    display:block;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    color: white;
    margin: 10px auto;
    background-color: transparent;
    border: 2px solid white;
}

#btn-analyze {
    background-color: #C8C8C8;
    margin: 10% auto;
    height: 80%;
    width: 80%;
    border-radius: 50%;
    border: 9px solid transparent;
}

#btn-roller {
    /*background-image: url("roller.gif");*/
    /*background-color: lawngreen;*/
    position: absolute;
    top:0;
    left:0;
    height: 80%;
    width: 80%
    /*width: 100px;*/
}

#btn-roller img {
    width: 80px;
}

/*#btn-analyze {*/
    /*position: relative;*/
    /*background-color: #C8C8C8;*/

    /*!*left: -50%;*!*/
    /*!*display:block;*!*/
    /*margin: 10% auto;*/
    /*height: 80%;*/
    /*width: 80%;*/
    /*border-radius: 50%;*/
    /*!*color: white;*!*/
    /*!*margin: 10px auto;*!*/
    /*!*background-color: transparent;*!*/
    /*border: 2px solid white;*/

    /*!* spinner *!*/
    /*-webkit-animation: spin 2s linear infinite; !* Safari *!*/
    /*animation: spin 2s linear infinite;*/
/*}*/



/*#btn-analyze {*/
    /*z-index: 10;*/
    /*position: absolute;*/
    /*!*background-color: #C8C8C8;*!*/
    /*left:0;*/
    /*!*left: -50%;*!*/
    /*!*display:block;*!*/
    /*!*margin: 10% auto;*!*/
    /*height: 100%;*/
    /*width: 100%;*/
    /*border-radius: 50%;*/
    /*!*!*color: white;*!*!*/
    /*!*!*margin: 10px auto;*!*!*/
    /*background-color: transparent;*/
    /*!*border: 2px solid white;*!*/

    /*border: 9px solid transparent;*/
    /*!*border-bottom: 9px solid lawngreen;*!*/

    /*!* spinner *!*/
    /*!*animation: spin 2s linear infinite;*!*/
    /*!*-webkit-animation: spin 2s linear infinite; !* Safari *!*!*/

    /*!*animation-play-state: paused;*!*/
    /*!*-webkit-animation-play-state: paused;*!*/
/*}*/

/*@-webkit-keyframes spin {*/
    /*0% { transform: rotate(0deg); }*/
    /*100% { transform: rotate(360deg); }*/
/*}*/

/*@keyframes spin {*/
    /*0% { transform: rotate(0deg); }*/
    /*100% { transform: rotate(360deg); }*/
/*}*/

/*#button-circle {*/
    /*z-index: 10;*/
    /*!*position: absolute;*!*/
    /*!*position: relative;*!*/
    /*background-color: #C8C8C8;*/

    /*left: -50%;*/
    /*display:block;*/
    /*margin: 10% auto;*/
    /*height: 80%;*/
    /*width: 80%;*/
    /*border-radius: 50%;*/
    /*!*!*color: white;*!*!*/
    /*!*!*margin: 10px auto;*!*!*/
    /*!*!*background-color: transparent;*!*!*/
    /*!*border: 2px solid white;*!*/
/*}*/



.controls #logs {
    position: relative;
    left: -50%;
    font-size: 10px;
}

.controls #debug {
    position: relative;
    left: -50%;
    font-size: 10px;
    width: 80%;
    margin: 10px auto;
    word-wrap: break-word;
}



.title {
    background-color: rgba(40, 40, 40, 0.4);
    padding: 0.4em 0.6em;
    border-radius: 0.1em;
}
.links {
    background-color: rgba(40, 40, 40, 0.6);
    padding: 0.4em 0.6em;
    border-radius: 0.1em;
}
canvas {
    position: absolute;
    top: 0;
    left: 0;
}


#results {
    position: absolute;
    left: 5%;
    /*top: 10%;*/
    /*transform: translate(-50%, 0);*/
    /*margin: 10px auto;*/
    z-index: 11;
    /*display: block;*/
    line-height: 1em;

    /*text-align: center;*/
    /*text-shadow: rgb(87, 70, 196) 3px 0px 0px, rgb(87, 70, 196) 2.83487px 0.981584px 0px, rgb(87, 70, 196) 2.35766px 1.85511px 0px, rgb(87, 70, 196) 1.62091px 2.52441px 0px, rgb(87, 70, 196) 0.705713px 2.91581px 0px, rgb(87, 70, 196) -0.287171px 2.98622px 0px, rgb(87, 70, 196) -1.24844px 2.72789px 0px, rgb(87, 70, 196) -2.07227px 2.16926px 0px, rgb(87, 70, 196) -2.66798px 1.37182px 0px, rgb(87, 70, 196) -2.96998px 0.42336px 0px, rgb(87, 70, 196) -2.94502px -0.571704px 0px, rgb(87, 70, 196) -2.59586px -1.50383px 0px, rgb(87, 70, 196) -1.96093px -2.27041px 0px, rgb(87, 70, 196) -1.11013px -2.78704px 0px, rgb(87, 70, 196) -0.137119px -2.99686px 0px, rgb(87, 70, 196) 0.850987px -2.87677px 0px, rgb(87, 70, 196) 1.74541px -2.43999px 0px, rgb(87, 70, 196) 2.44769px -1.73459px 0px, rgb(87, 70, 196) 2.88051px -0.838247px 0px;*/
}

#results #food_item {
    left: -50%;
    font-size: 20px;
}

#results #nut_info {
    left: -50%;
    font-size: 15px;
}


#img_captured {
    z-index: 11;
    /*float: right;*/
    position: absolute;
    right: 2%;
    top: 2%;
}



