body {
    background-color: darkgreen;
    margin: 0;
    overflow: hidden;
    position: fixed;
    width: 100%;
    height: 100vh;
    -webkit-user-select: none;
    user-select: none;
}

* {
    font-family: 'Work Sans', sans-serif;
    color: white;
}

h3 {
    font-size: 25px;
}


/** controls - bottom **/
.controls {
    position: absolute;
    left: 50%;
    bottom: 20px;
    /*transform: translate(-50%, 0);*/
    margin: 10px auto;
    z-index: 10;
    display: block;
    line-height: 2em;
    text-align: center;
}

.controls #btn-analyze {
    position: relative;
    left: -50%;
    /*left: 25%;*/
    /*bottom: 80%;*/
    /*width: 100px;*/
    /*height: 30px;*/

    color: white;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    /*height: 20px;*/
    width: 200px;
    text-align: center;
    margin: 10px auto;
    background-color: transparent;
    border: 2px solid white;
}
.controls #logs {
    position: relative;
    left: -50%;
    font-size: 10px;
}

.controls #debug {
    position: relative;
    left: -50%;
    font-size: 10px;
    width: 80%;
    margin: 10px auto;
    word-wrap: break-word;
}



.title {
    background-color: rgba(40, 40, 40, 0.4);
    padding: 0.4em 0.6em;
    border-radius: 0.1em;
}
.links {
    background-color: rgba(40, 40, 40, 0.6);
    padding: 0.4em 0.6em;
    border-radius: 0.1em;
}
canvas {
    position: absolute;
    top: 0;
    left: 0;
}


#results {
    position: absolute;
    left: 5%;
    /*top: 10%;*/
    /*transform: translate(-50%, 0);*/
    /*margin: 10px auto;*/
    z-index: 11;
    /*display: block;*/
    line-height: 1em;

    /*text-align: center;*/
    /*text-shadow: rgb(87, 70, 196) 3px 0px 0px, rgb(87, 70, 196) 2.83487px 0.981584px 0px, rgb(87, 70, 196) 2.35766px 1.85511px 0px, rgb(87, 70, 196) 1.62091px 2.52441px 0px, rgb(87, 70, 196) 0.705713px 2.91581px 0px, rgb(87, 70, 196) -0.287171px 2.98622px 0px, rgb(87, 70, 196) -1.24844px 2.72789px 0px, rgb(87, 70, 196) -2.07227px 2.16926px 0px, rgb(87, 70, 196) -2.66798px 1.37182px 0px, rgb(87, 70, 196) -2.96998px 0.42336px 0px, rgb(87, 70, 196) -2.94502px -0.571704px 0px, rgb(87, 70, 196) -2.59586px -1.50383px 0px, rgb(87, 70, 196) -1.96093px -2.27041px 0px, rgb(87, 70, 196) -1.11013px -2.78704px 0px, rgb(87, 70, 196) -0.137119px -2.99686px 0px, rgb(87, 70, 196) 0.850987px -2.87677px 0px, rgb(87, 70, 196) 1.74541px -2.43999px 0px, rgb(87, 70, 196) 2.44769px -1.73459px 0px, rgb(87, 70, 196) 2.88051px -0.838247px 0px;*/
}

#results #food_item {
    left: -50%;
    font-size: 20px;
}

#results #nut_info {
    left: -50%;
    font-size: 15px;
}


#img_captured {
    width: 140px;
    height: 140px;
    z-index: 11;
    /*float: right;*/
    position: absolute;
    right: 2%;
    top: 2%;
}



